# Apache Server Configuration

RewriteEngine on

RewriteRule ^$ index.php [L]

RewriteRule ^([^/.]+)$ $1.php [L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [R=404,L]
ErrorDocument 404 http://localhost/chatApp/404 
# If this line does not work change "localhost" to your local ip

php_value post_max_size 2000M 
php_value upload_max_filesize 2500M 
php_value max_execution_time 6000000
php_value max_input_time 6000000
php_value memory_limit 2500M
# Too big to avoid server's error 